.advise {
  position: fixed;
  right: 0;
  bottom: 40px;
  z-index: 99;
  padding: 0 20px 20px 0;
  .advise__item {
    width: 72px;
    height: 72px;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    background-color: #093de6;
    border-radius: 50%;
    font-size: 50px;
    border: none;
    > img {
      width: 50%;
    }
  }
  .advise__item:focus {
    outline: none;
    box-shadow: none;
  }
}
@include breakpoint(991) {
  .advise {
    .advise__item {
      width: 62px;
      height: 62px;
      > img {
        width: 50%;
      }
    }
  }
}
@include breakpoint(767) {
  .advise {
    .advise__item {
      width: 52px;
      height: 52px;
      > img {
        width: 50%;
      }
    }
  }
}
@include breakpoint(400) {
  .advise {
    .advise__item {
      width: 42px;
      height: 42px;
      > img {
        width: 50%;
      }
    }
  }
}
@include breakpoint(400) {
  .not-show-mobile {
    display: none !important;
  }
}
